/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* common style */
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    padding: 50px 240px;
    background: rgba(255, 144, 14, 0.1);
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 130px;
    width: 70%;
}

.description {
    margin: 0;
    color: #727272;
}

.btn-primary {
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
}


/*------------------
    navbar style 
-------------------*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin: 0;
}


.nav-items a {
    text-decoration: none;
    margin-left: 40px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* banner style */
.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}


.banner-container {
    text-align: center;
}

.banner-container img {
    margin-top: 50px;
    width: 100%;
}

/* our features section style */
.features-thumbnail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-info {
    margin-left: 75px;
}

.our-features-section-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.our-features-section-title #unique-color-1 {
    color: #727272;
}

.our-features-section-title #unique-color-2 {
    color: #FF900E;
}

/* love feature section style */
.love-features-details {
    margin-right: 54px;
    width: 50%;
}

.love-feature-header {
    width: 10px;
}

#love-feature-title {
    border-left: 5px solid tomato;
    padding-left: 20px;
    font-weight: 900;
    font-size: 2em;
}

.feature-category {
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.category-title {
    margin: 0;
    padding-bottom: 10px;
}

.love-feature-banner img {
    width: 100%;
    margin-left: 105px;
}

.unique-btn {
    width: 248px;
    height: 109px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100px;
    right: -50px;
}

.unique-btn span {
    font-weight: 700;
    font-size: 65px;
}

.unique-btn small {
    font-weight: 500;
    font-size: 25px;
}

/* facts items style */
.facts-section-header {
    width: 35%;
    padding-top: 130px;
    margin-left: 200px;
}

.facts-section-header h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 0;
    padding-bottom: 24px;
}


.facts-items {
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px;
    position: relative;
    transition: padding 2s, background-color 2s, top 5s, transform 2s;
}

.facts-items:hover {
    padding: 30px;
    background-color: rgba(255, 144, 14, 0.1);
    transform: top -30px;
}

.facts-items h2 {
    font-weight: 600;
    font-size: 45px;
    margin: 0;
}

.facts-items p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin: 0;
}

/* sponsor section style */
.sponsor-section-header {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    padding-top: 130px;
}

.sponsor-section-header h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 24px 0;
}

.sponsor-company {
    padding-top: 50px;
}

/* contact section style */
.contact-section {
    background-color: rgba(255, 144, 14, 0.1);
    border-radius: 10px;
    width: 70%;
    padding: 30px 50px;
    border: 1px solid #FF900E;
    margin: 0 auto;
    margin-top: 130px;
}

.contact-section-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 60px;
    margin-top: 0;
    color: #131313;
}

.contact-container {
    display: flex;
    justify-content: center;

}

.contact-section img {
    border-radius: 8px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
    margin-left: 20px;
    padding-left: 20px;

}

.contact-form input,
textarea {
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
}

.contact-section-title {
    text-align: center;
}

/* footer style */
footer {
    text-align: center;
    border-radius: 8px;
    padding: 40px 0;
    width: 75%;
    margin: 130px auto;
    background: #FFF4E7;
}

/* ------------------------------
   Responsive for mobile devices 
----------------------------------*/
@media only screen and (max-width:576px) {

    /* common style */
    header {
        padding: 20px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 30px;

    }

    /* nav style */
    .navbar,
    .nav-items a {
        flex-direction: column;
    }

    .nav-items a {
        display: flex;
        margin-bottom: 10px;
    }

    /* our feature section style */
    .features-thumbnail {
        grid-template-columns: repeat(1, 1fr);
    }

    .features-thumbnail img {
        width: 100%;
    }

    .features-info {
        align-items: center;
    }

    /* enjoy and love section style */
    .love-feature-header {
        padding: 15px;
    }

    .love-features-details {
        margin-right: 0;
        width: 50%;
    }

    .feature-category {
        width: 100%;
    }

    .love-feature-banner img {
        width: 100%;
        padding-bottom: 20px;
        margin: 0 auto;
    }

    .unique-btn {
        margin: 0 auto;
        padding: 10px;
        top: 0;
        right: 0;
    }

    /* facts section style */
    .facts-section-header {
        width: 90%;
        /* padding-left: 2px; */
        margin: 0 auto;
    }

    /* contact section style */
    .contact-container {
        flex-direction: column;
    }

    .contact-section img {
        width: 100%;
        padding-bottom: 30px;
    }

    /* sponsor section style */
    .sponsor-section-header {
        width: 90%;

    }

    /* footer style */
    footer {
        width: 100%;
    }
}